<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">Dashboard</h1>
        <p class="lead mb-4 mx-auto">Welcome, <%= name %></p>
        <a href="/auth/logout" class="btn btn-secondary btn-block">
          <i class="fas fa-sign-out-alt"></i><span>Log Out</span>
        </a>
      </div>
    </div>
  </div>