<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1 class="font-weight-bold">THE BOOK <i class="fa fa-book fa-3x"></i> DIRECTORY</h1>
        <p>Create an account or login</p>
        <a href="/auth/register" class="btn btn-lg btn-primary btn-block mb-2">
          <i class="fa fa-user-plus fa-fw"></i> Register with Email
        </a>
        <a href="/auth/login" class="btn btn-lg btn-info btn-block mb-2">
          <i class="fa fa-sign-in fa-fw"></i> Login
        </a>
      </div>
    </div>
  </div>
  
  